@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./sassets/breakpoints";

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  @include smartphone-portrait {
    height: 200vh;
  }
}

.content-section {
  margin-top: 40px;
}

.content-body {
  padding-bottom: 40px;
}

.tooltip {
  z-index: 1000 !important;
}