@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./sassets/breakpoints";


// Colors and Typography
$font-stack: Helvetica, sans-serif;
$primary-color: #333;

// Breakpoints

$screen-ml: 480px;
$screen-tp: 768px;
$screen-tl: 992px;
$screen-laptop: 1200px;

@mixin mobile-landscape {
  @media (min-width: #{$screen-ml}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: #{$screen-tp}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: #{$screen-tl}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$screen-laptop}) {
    @content;
  }
}

.content-section {
  margin-top: 40px;
}

.content-body {
  padding-bottom: 40px;
}

.tooltip {
  z-index: 1000 !important;
}