.content-modal-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;

    h4 {
        font-size: 14px;
    }
}

.label {
    max-width: 40%;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 3px 6px;
}

.content-modal-button {
    color: #007bff;
    text-decoration: none;
    border: none;
    background-color: transparent;
    width: 24px;
    padding: 0 !important;
}