@import "./breakpoints";

.dashboard-body {
    display: flex;
    flex-direction: row;
}

.content-body {

    margin-top: 20px;
    align-items: flex-start;
    display: flex;

    @include smartphone-portrait {
        flex-direction: column;
    }

}