@import "../main.scss";
@import "./breakpoints";

.quick-link-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-wrap: normal;

    @include smartphone-portrait {
        overflow: scroll;
        flex-wrap: nowrap;
    }
}

.quick-link-bar::-webkit-scrollbar {
    @include smartphone-portrait {
        width: 0px;
        background: transparent;
    }
}

.quick-link-anchor {
    margin-right: 2%;
    text-decoration: none;
}

.quick-link-anchor:hover {
    text-decoration: none;
}

.disabled {
    color: #7eb2ff;
    cursor: default;
    
    div { span {
        max-height: 20px;
        padding-top: 4px;
        color: white;
    }}
}

.disabled:hover {
    box-shadow: none !important;
}

.quick-link {
    display: inline-flex;
    flex-direction: row;
    vertical-align: bottom;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;


    border-radius: 18px;
    border: 1px solid #dadada;
    width: fit-content;
    height: 35px;
    padding: 0 12px;

    .material-icons {
        max-width: 24px;
        max-height: 24px;
    }

    .quick-link-label {
        font-size: 14px;
        margin: 0 auto;
        display: inline;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    transition-timing-function: linear;
    transition-duration: 100ms;
}

.quick-link:hover {
    box-shadow: 0 1px 3px 0px #bebebe;
    text-decoration: none;
}