@import "../main.scss";

.quick-link-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-content: flex-start;
    overflow-wrap: normal;
}

.quick-link-anchor {
    margin-right: 2%;
    text-decoration: none;
}

.quick-link-anchor:hover {
    text-decoration: none;
}



.quick-link {
    display: inline-flex;
    flex-direction: row;
    vertical-align: bottom;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;


    border-radius: 18px;
    width: 175px;
    height: 35px;
    border: 1px solid #dadada;
    padding: 0 12px;

    .material-icons {
        max-width: 24px;
        max-height: 24px;
    }

    .quick-link-label {
        font-size: 14px;
        margin: 0 auto;
    }

    transition-timing-function: linear;
    transition-duration: 100ms;
}

.quick-link:hover {
    box-shadow: 0 1px 3px 0px #bebebe;
    text-decoration: none;
}