@import "../main.scss";

.resource-body-container {
    @include flex();
    flex-direction: column;
    width: 100%;


    @include tablet-landscape {
        margin-left: 50px;
        padding-left: 50px;
    }
    overflow-y: auto;
}

.internal-resource-view {
    height: auto;
    margin-left: 50px;
    padding-left: 50px;
    transition: width 250ms linear;
    z-index: 100;
}

.resource-component {
    @include flex();
    flex-direction: column;

    @include tablet-landscape {
        flex-direction: row;
    }

    height: 81vh;
    width: 100%;
    overflow: hidden;
    transition: width 250ms linear;
}