@import "./breakpoints";

@mixin shadow-card {
    box-shadow: 0 0px 5px 0px #dfdfdf;
    border-radius: 3px;
    margin-bottom: 20px;
}

.content-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    max-height: 24px;

    @include smartphone-portrait {
        max-width: 300px;
    }

    .content-header {
        width: 80%;
        display: flex;
        flex-direction: row;
        .label {
            min-width: 30%;
            text-align: center;
            border-radius: 3px;
            font-size: 12px;
            font-weight: bold;
            color: white;
            padding: 3px 6px;
        }
    
        .title {
            margin-left: 10px;
            display: inline;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .links {
        min-width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

span {
    max-height: 16px;
}

.disabled {
    color: #7eb2ff;
    cursor: default;
    
    div { span {
        max-height: 20px;
        padding-top: 4px;
        color: white;
    }}
}

.week-content {
    @include shadow-card();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.week-content-section {

    .content-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    @include smartphone-portrait {
        max-width: 375px;
    }

}

.calendar-container {
    @include shadow-card;
    padding: 30px;
}