@mixin shadow-card {
    box-shadow: 0 0px 5px 0px #c7c7c7;
    border-radius: 8px;
}

.content-item {
    @include shadow-card;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
    margin-top: 5px;
    margin-right: 20px;

    .content-item-header {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 172px;
        
        h1 {
            font-size: 16px;
            font-weight: bold;
            line-height: normal;
            display: inline;
        }
        h2 {
            color: #0d6efd;
            font-size: 12px;
            line-height: normal;
        }
    }

    .content-item-links {
        min-width: 126px;
    }

}

.icon-bubble {

    background-color: #0d6efd;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: inline-flex;
    vertical-align: middle;
    justify-content: space-around;
    margin-left: 10px;

    a { span {
        max-height: 20px;
        padding-top: 4px;
        color: white;
    }}
}

.disabled {
    background-color: #7eb2ff;
    
    div { span {
        max-height: 20px;
        padding-top: 4px;
        color: white;
    }}
}

.week-content {
    display: flex;
    flex-direction: column;
    width: 40%
}

.week-content-section {

    margin-bottom: 30px;

    h1 {
        font-size: 24px;
    }

    .content-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

.tool-tip {
    visibility: hidden;
    color: white !important;
    background: #0d6efd !important;
    padding: 5px !important;
}

.calendar-container {
    @include shadow-card;
    padding: 30px;
}