@import "./breakpoints";

@mixin shadow-card {
    box-shadow: 0 0px 5px 0px #dfdfdf;
    border-radius: 3px;
    margin-bottom: 20px;
}

.icon-link, .content-modal-button {
    margin-left: 10px;
}

.content-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 24px;
    max-width: 100%;

    .content-header {
        width: 70%;
        display: flex;
        flex-direction: row;
        .label {
            min-width: 25%;
            text-align: center;
            border-radius: 3px;
            font-size: 12px;
            font-weight: bold;
            color: white;
            padding: 3px 6px;
        }
    
        .title {
            margin-left: 10px;
            display: inline;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .links {
        min-width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    @include smartphone-portrait {
        max-width: 95%;
        .content-header {
            width: 70%;
        }
        .links {
            width: 30%;
        }
    }
}

span {
    max-height: 16px;
}

.disabled {
    color: #7eb2ff;
    cursor: default;
    
    div { span {
        max-height: 20px;
        padding-top: 4px;
        color: white;
    }}
}

.week-content {
    @include shadow-card();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin-right: 20px;

    flex: 0 0 35%;
    max-width: 40%;
    
    @include smartphone-portrait {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .divider {
        border: 0;
        clear:both;
        display:block;
        width: 100%;               
        background-color:#f0f0f0;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
}

.week-content-section {
    .content-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

.calendar-container {
    @include shadow-card;
    padding: 30px;
    
    flex: 0 0 63%;
    max-width: 63%;
    overflow: auto;
    
    @include smartphone-portrait {
        flex: 0 0 100%;
        max-width: 100%;
        height: fit-content;
    }
}

.modal-section {
    margin-top: 20px;

    .extra-links {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    .static-content {
        font-size: 16px;
    
        li {
            margin-top: 5px;
        }
    }
}