.card {
    margin-right: 20px;
    margin-bottom: 20px;
    border: none !important;
    box-shadow: 0 1px 3px 0px #bebebe;
    .card-img {
        object-fit: cover;
        height: 250px;
    }

    .card-text {
        .header {
            font-size: 18px;
            font-weight: bold;
        }
    
        .role {
            font-size: 14px;
            font-weight: bold;
            color: #0d6efd;
        }

        .subheader {
            font-size: 12px;
        }
    }

    .staff-card-iconbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        margin-top: 5px;

        .material-icons {
            margin-left: 10px;
            cursor: pointer;
            color: #0d6efd;
        }
    }
}

.modal-title {

    .bio-modal-header {
        display: flex;
        flex-direction: row;
        img {
            max-width: 250px;
        }

        .general-info {
            margin-left: 14px;
            font-size: 16px;
            font-weight: normal;

            .name {
                font-size: 24px;
                font-weight: bold;
            }

            .role {
                color: #0d6efd;
                font-size: 18px;
                font-weight: bold;
            }

            .email {
                font-size: 18px;
                font-weight: 400;
            }

            .additional-info {
                color: #5f5f5f;
                font-size: 14px;
            }
        }
    }

}

.bio-response-section {

    margin-bottom: 20px;

    .header {
        font-size: 16px;
        font-weight: bold;
    }

    .body {
        font-size: 14px;
        font-weight: normal;
        color: #5f5f5f;
    }

}