@import "../main.scss";

.container-fluid {
    @include tablet-landscape {
        padding-right: 0px !important;
    }
}

.syllabus-component {
    display: flex;
    flex-direction: column;
    height: 79vh;
    overflow: hidden;

    @include tablet-landscape {
        flex-direction: row;
    }
}

.syllabus-nav {
    display: flex;
    flex-direction: row;
    min-height: 61px;
    overflow-x: scroll;

    @include tablet-landscape {
        flex-direction: column;
        overflow: visible;
    }
}

@mixin shadow-card {
    box-shadow: 0 0px 5px 0px #dfdfdf;
    border-radius: 3px;
    margin-bottom: 20px;
}

.syllabus-body {
    
    padding-left: 15px;
    padding-right: 15px;

    @include tablet-landscape {
        padding-left: 100px;
        padding-right: 100px;
    }


    overflow-y: scroll;
}

#breakdown-chart {
    position: relative;
    height: 420px !important;
    width: 100% !important;
}

#grading-bins {
    @include shadow-card();
    width: 350px;
    margin: auto;
}

.grading-bin {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    h3 {
        width: 30%;
    }
}

.grade-range {
    font-size: 18px;
    color: #0d6efd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.syllabus-topic {

    margin-bottom: 80px;

    .body {
        font-size: 14px;
        color: #5f5f5f;
        strong {
            font-weight: bold;
            color: black;
        }
        margin-bottom: 10px;
    }

    h2 {
        text-align: center;
        font-size: 28px;
        font-weight: lighter;
        color: #0d6efd;
    }

    .syllabus-section {
        text-align: justify;
        margin-bottom: 20px;

        .header {
            font-size: 20px;
            font-weight: bold;
        }

        .syllabus-subsection {
            margin-top: 20px;
            .header {
                font-size: 16px;
            }
        }
    }
}